/* General */

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100%; 
    width: 100%;
}

header, main, footer {
    padding: 0 5px;
}

header input[type="file"] {
    padding: 5px 30px;
    color: white;
    display: inline-block;
}

header {
    text-align: center;
}

.button_normal {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: .8em;
    cursor: pointer;
    transition: ease 0.5s all;
    outline: none;
}

.button_normal:hover {
    background-color: rgb(167, 167, 167); 
}

.rowtwo {
    grid-row: 2;
}

/* IDs */
#addon_mgt_btn_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    margin-top: 10px;
}

#create_addon_button {
    grid-column-end: span 2;
}

#addon_management_prompt .button_normal {
    margin: 15px 0;
    box-shadow: 0 5px #797979;
    transition: none;
    display: inline-block;
}

#addon_management_prompt .button_normal:active {
    box-shadow: 0 2px #797979;
    transform: translateY(3px);
}

#addon_management_prompt h3 {
    margin-bottom: 0px;
}

#gmaFileSelection {
    padding: 5px 20px;
}

#main_titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0f0f0f;
    -webkit-app-region: drag;
    font-weight: 700;
}

#main_titlebar .main_buttons p {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    line-height: 23px;
    -webkit-app-region: no-drag;
}

#main_titlebar .main_buttons p:hover {
    background-color: #202020;
}

#main_titlebar .main_title p {
    display: inline-block;
    margin: 0;
    padding: 5px 5px;
    transition: ease all 0.5s;
}

#dir_select_prompt {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color:#202020;
}

#settings header img {
    width: 64px;
    box-shadow: black 1px 1px 10px;
    border-radius: 5px;
}

#settings footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings header div p a {
    text-decoration: underline;
    color: white;
}

#settings main {
    display: flex;
    flex-direction: column;
}

#settings main button {
    padding: 5px 0;
    margin: 5px 0;
}

#settings main div {
    display: flex;
    flex-direction: row;
}

#settings main div button {
    padding: 5px 0;
    width: 50%;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

#settings main div button:first-child {
    border-radius: 5px 0 0 5px;
}

#settings main div button:first-child:hover {
    border-radius: 5px 0 0 5px;
    color: white;
    background-color: #048CEC;
}

#settings main div button:last-child {
    border-radius: 0 5px 5px 0;
}

#settings main div button:last-child:hover {
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #202020;
}

#status_of_dir {
    text-align: center;
}

#dir_prompt_next {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#dir_prompt_next button {
    width: 100%;
    border-radius: 0;
    color: white;
    background-color: #0f0f0f;
    cursor: not-allowed;
    border: none;
    padding: 10px 0;
    transform: ease 0.8s;
    font-weight: 700;
}

.bottom_btn {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom_btn button {
    width: 100%;
    border-radius: 0;
    background-color: #0f0f0f;
    color: white;
    cursor: not-allowed;
    border: none;
    padding: 10px 0;
    transform: ease 0.8s;
    font-weight: 700;
}

#gmodDirSelect {
    text-align: center;
}

#checkmarkNote {
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    font-weight: 700;
    display: none;
}

#checkmarkNote img {
    display: block;
    width: 15%;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
}

.medium-text {
    font-size: 1.1em;
}

/* Views */

#addon_management {
    display: none;
    text-align: center;
}

#update_existing_addon, #directory_selection, #create_new_addon, #jsonCreator, #gmaPrep, #addon_management_prompt, #createGMA, #uploadToWorkshopPrompt, #addonIconPrompt, #addonDirPrompt, #uploading, #new_addon, #extract_addon, #extracting_addon, #extraction_done, #newAddonLocation, #errorNote {
    display: none;
}

#gmaPrep h4 {
    margin-bottom: 10px;
}

/* Previews the selected addon image before uploading */
#addonIconPreview {
    width: 128px;
    border-radius: 10px;
}

#gmaPreview h1, #gmaPreview h2 {
    margin: 5px;
}

#gmaPreview td::first-letter {
    text-transform: capitalize;
}

/* Views styles */

.path_div .top {
    background-color: #0f0f0f;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.path_div .top h3 {
    font-weight: 300;
    margin: 5px;
    display: inline-block;
}

.back_button {
    background-color: rgb(219, 68, 68);
    color: white;
    border: none;
    cursor: pointer;
    font-size: .9em;
    padding: 5px 20px;
    outline: none;
    border-radius: 0 5px 5px 0;
    display: block;
    transition: ease 0.2s all;
}

.back_button:hover {
    background-color: rgb(246, 79, 79);
}

#addonPreviewDetails {
    margin: 10px auto;
}

#addonPreviewDetails th, #addonPreviewExisting th {
    padding: 5px;
    background-color:#0f0f0f;
}

#addonPreviewDetails td, #addonPreviewExisting td {
    padding: 5px 15px;
    background-color: #202020;
    max-width: 250px;
    max-height: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#addonPreviewExisting {
    /* width: 100%; */
    /* padding: 2; */
    /* margin: 10px; */
    background: #202020;
    display: grid;
    /* margin: 25px auto; */
    justify-content: space-evenly;
    grid-auto-flow: column;
}

div#addonPreviewExisting div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addonPreviewExisting th {
    width: 100;
}

#addonPreviewExisting td {
    width: 100;
}

#addonHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#addonStats {
    margin: auto;
    text-align: center;
}

#yourAddons {
    overflow-y: scroll;
    max-height: 81.2%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#jsonTags {
    display: flex;
    flex-direction: row;
}

#jsonTags .col:last-child {
    padding-top: 15px;
}

.publishedAddon {
    display: flex;
    /* height: 100%; */
    user-select: none;
    flex-direction: column;
    /* width: 100%; */
    /* background-color: #024b7f; */
}

.publishedStats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: #202020;
}

.publishedStats p {
    padding: 0 10px 10px 10px;
    margin: 10px 0 0 0;
    cursor: default;
}

.publishedTitle h1 {
    margin: 0;
    padding: 10px;
    text-shadow: 0px 0px 4px black;
}

.publishedTitle img {
    width: 128;
    margin: auto auto 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.publishedControls {
    display: flex;
    padding: 0;
}

.publishedControls p {
    width: 50%;
    margin: 0;
}

.publishedControls p a {
    border: none;
    background-color: #0f0f0f;
    color: white;
    display: block;
    font-weight: 800;
    padding: 10px;
    transition: ease 0.2s all;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.publishedControls p a:hover {
    background-color:#202020;
    letter-spacing: 1.5px;
}

.removeBackOption {
    width: 100px;
}

#jsonInfo {
    text-align: left;
}

#jsonTitle > * {
    display: inline-block;
}

#jsonTitle input[type="text"], #jsonIgnore input[type="text"] {
    border-radius: 5px;
    display: inline-block;
    width: 350px;
    border: none;
    padding: 5px;
}

#jsonTags .type > * {
    display: inline-block;
}

#jsonTags .type {
    margin: 0 5px 10px 0;
    
}

#jsonTags .type p {
    margin: 0px;
}

#jsonType > * {
    display: inline-block;
}

#jsonType select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#jsonIgnore > * {
    display: inline-block;
}

#jsonIgnore p {
    font-weight: 700;
}

#jsonIgnore input[type="text"] {
    width: 150px;
}

.typeCheckbox {
    cursor: pointer;
}

.jsonSectionHeader {
    font-weight: 700;
    width: 55px;
    padding-left: 15px;
    letter-spacing: 1px;
}

.jsonGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.next_prompt {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.next_prompt button {
    width: 100%;
    border-radius: 0;
    background-color: #202020;
    color: white;
    cursor: not-allowed;
    border: none;
    padding: 10px 0;
    transform: ease 0.8s;
    outline: none;
    font-weight: 700;
}

.buttonListTemplate {
    display: flex;
    flex-direction: column;
}

.buttonListTemplate button {
    border-radius: 0;
    padding: 10px;
    font-size: 1.1em;
    transition: ease 0.2s all;
}

.buttonListTemplate button:hover {
    letter-spacing: .3px;
}

.buttonListTemplate button:focus {
    padding-left: 275px;
    opacity: 0;
}

#errorNote {
    background-color: rgb(219, 68, 68);
    color: white;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

#errorNote p, #errorNote h6 {
    margin: 10px;
}

#errorNote p a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}